<%include ../partials/header.ejs %>

<div class="container">
  <div class="row">
    <div class="col-md-2">

      <h1 class="bLogTitle">Behaviour Log - 24 Hours</h1>
      <a class="btn btn-primary bLogButton" href="/incoming-list/add" role="button">
        <i class="fa fa-plus-circle "> Add Incident </i>
        
      </a>

    </div>
     <div class="col-md-2">
      <table class="table behaviourTable">
        <thead class="thead-light">
          <tr>
            <th scope="col" class="column">#</th>
            <th scope="col" class="column">Resident</th>
            <th scope="col" class="column">Caregiver</th>
            <th scope="col" class="column">Care</th>
            <th scope="col" class="column">Behaviour</th>
            <!-- <th scope="col" class="column">IsAggressive</th> -->
            <th scope="col" class="column">Recommended Phrases</th>
            <th scope="col" class="column">Redirection</th>
            <th scope="col" class="column">Rating</th>
            <th scope="col" class="column">Date & Time</th>
            <th scope="col" class="column" >Comments</th>
          </tr>
        </thead>

        <% for (let count = 0; count < givenValues.length; count++ ){ %>
        <tbody>
          <tr>
            <th scope="row"><%= count + 1%></th>
            
            <td><%= givenValues[count].patient %></td>
            <td><%= givenValues[count].caregiver %></td>
            <td><%= givenValues[count].typeOfCare %></td>
            <td><%= givenValues[count].typeOfAbuse %></td>
            <!-- <td><%= givenValues[count].isAgressive %></td> -->
            <td><%= givenValues[count].recommendedPhrases %></td>
            <td><%= givenValues[count].personalRedirection %></td>
            <td><%= givenValues[count].successRating %></td>
            <td><%= givenValues[count].dateTime %></td>
            <td><%= givenValues[count].comments %></td>
            <td class="text-center">
              <a
                href="/incoming-list/edit/<%= givenValues[count]._id %>"
                class="btn btn-primary"
              >
                <i class="fa fa-pencil" aria-hidden="true"></i> Edit
              </a>
            </td>
            <td class="text-center">
              <a
                href="/incoming-list/delete/<%= givenValues[count]._id %>"
                class="btn btn-danger"
              >
                <i class="fa fa-trash" aria-hidden="true"></i> delete
              </a>
            </td>
          </tr>
        </tbody>
        <% } %>
      </table>
    </div>
  </div>
</div>

<%include ../partials/footer.ejs %>